# BOT
TOKEN=YOUR.BOT.TOKEN.HERE
BOT_ID=YOUR.BOT.ID.HERE
GUILD_ID=YOUR.GUILD.ID.HERE # (optional)
SUPER_USER=YOUR.USER.ID.HERE
STATUS=custom status here

# API (set during the Emerald Legacy build phase)
GLOSSARY_URL=
RULES_URL=

# ACCESS RESTRICTION
ALLOW_DIRECT_MESSAGES=0 # If users can use the bot in DMs
WHITELIST_SERVERS=1 # If servers must be whitelisted by the superuser for users there to use the bot

# COMMANDS
RESULT_LIMIT=5 # Max number of card results per message
MAX_QUERY_LENGTH=30 # Max length an inline query can be before it is ignored

# DATABASE
DB_HOST=localhost
DB_USER=username
DB_PASSWORD=password
DB_NAME=imperial_library

# COLORS
COLOR_POSITIVE=0x57F287
COLOR_NEUTRAL=0xfee65c
COLOR_NEGATIVE=0xed4245

COLOR_INFO=0x1abc9c
COLOR_ERROR=0x992e22
